<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bbqFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30BB304D1DC550A80087B2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C716DE1D6C7E9E0085FFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C716F21D6C7E9F0085FFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
